.intro {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-align: center
}
.image {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-align: center
}
