.intro {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-align: center
}
.intro2 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-align: center
}
.logo {
    text-align: center;
}
.askCaptain {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-align: center;
}